<div class="card">
    <a [routerLink]="['/user', miUser._id]">
        <img class="card-img-top" src="{{miUser.image}}" alt="Imagen de usuario">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{miUser.first_name}} {{miUser.last_name}}</h5>
        <div class="button-container">
            <a class="btn btn-ver-detalle" [routerLink]="['/user', miUser._id]">Ver Detalle</a>
            <a class="btn btn-actualizar" [routerLink]="['/updateuser', miUser._id]">Actualizar</a>
            <button class="btn btn-borrar" (click)="deleteUser(miUser._id)">Borrar</button>
        </div>
    </div>
</div>